<div class="container">
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #todoForm="ngForm" *ngIf="todo" class="center">
        <div class="form-group">
          <label for="name">Task Name</label>
          <input type="text" [(ngModel)]="todo.name" 
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter task name"
            required #name="ngModel">
        </div>
        <div class="form-group">
          <label for="email">Description</label>
          <input type="text" [(ngModel)]="todo.description" 
            class="form-control"
            id="description"
            name="description"
            placeholder="Enter task description"
            required #email="ngModel">
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select
            class="form-control"
            id="status"
            name="status"
            [(ngModel)]="todo.status">
            <option value="" disabled>Select your option</option>
            <option value="Not Done">Not Done</option>
            <option value="On Progress">On Progress</option>
            <option value="Done">Done</option>
          </select>
          </div>
          <div class="form-group">
            <label for="user_id">Assignee ID</label>
            <input type="text" [(ngModel)]="todo.user_id" 
            class="form-control"
            id="description"
            name="description"
            placeholder="Enter task description"
            required #assignee="ngModel">
            <!-- <select
            class="form-control"
            id="user_id"
            name="user_id"
            [(ngModel)]="todo.user_id">
            <option value="" disabled>Select Assignee</option>
          </select> -->
          </div>
        <button type="back" 
          class="btn btn-warning" (click)="gotoTodoList()">Back</button>
        <button type="submit" [disabled]="!todoForm.form.valid" 
          class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
  </div>