<div class="container">
        <div class="card my-5">
            <div class="card-body">
              <form (ngSubmit)="onSubmit()" #userForm="ngForm" *ngIf="user" class="center">
                <div class="form-group">
                  <label for="firstname">Firstname</label>
                  <input type="text" [(ngModel)]="user.firstname" 
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    placeholder="Enter firstname"
                    required #firstname="ngModel">
                </div>
                <div class="form-group">
                  <label for="lastname">Lastname</label>
                  <input type="text" [(ngModel)]="user.lastname" 
                    class="form-control"
                    id="lastname"
                    name="lastname"
                    placeholder="Enter lastname"
                    required #lastname="ngModel">
                </div>
                <div class="form-group">
                    <label for="occupation">Occupation</label>
                    <input type="text" [(ngModel)]="user.occupation" 
                    class="form-control"
                    id="occupation"
                    name="occupation"
                    placeholder="Enter occupation"
                    required #occupation="ngModel">
                  </div>
                <button type="back" 
                  class="btn btn-warning" (click)="gotoUserList()">Back</button>
                <button type="submit" [disabled]="!userForm.form.valid" 
                  class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
          </div>