<div class="container">
    <button type="button" class="add-btn" class="btn btn-info" routerLink="/addTodo">ADD</button>
    <table class="table" class="table table-dark table-hover table-bordered-responsive-sm" >
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Assignee ID</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody *ngFor = "let task of todo" 
            [class.selected]="todo === selectedTodo"
        >
            <tr>
                <td>{{task.id}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.status}}</td>
                    <td>{{task.user_id}}</td>
                    <td><button type="button" class="btn btn-primary" value="Update" routerLink="/todo/detail/{{task.id}}">Update</button></td>
                    <td><button type="button" class="btn btn-danger" value="Delete" (click)="deleteTodo(task.id)">Delete</button></td>
            </tr>
        </tbody>
</table>

</div>