<div class="container">
      <nav>
          <a routerLink="/todos" routerLinkActive="active">Tasks</a>
          <a routerLink="/users" routerLinkActive="active">Users</a>
      </nav>
      <router-outlet></router-outlet>
  </div>
