<div class="container">
    <button type="button" class="add-btn" class="btn btn-info" routerLink="/addUser">ADD</button>
    <table class="table" class="table table-dark table-hover table-bordered-responsive-sm" >
        <thead>
            <tr>
                <th>User ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Occupation</th>
                <th>Actions</th>    
            </tr>
        </thead>
        <tbody *ngFor = "let todo of todos" 
            [class.selected]="todo === selectedTodo"
        >
            <tr>
                <td>{{user.user_id}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.occupation}}</td>
                    <td><button type="button" class="btn btn-primary" value="Update" routerLink="/user/todos/{{user.user_id}}">View TODOS</button></td>
                    <td><button type="button" class="btn btn-primary" value="Update" routerLink="/user/detail/{{user.user_id}}">Update</button></td>
                    <td><button type="button" class="btn btn-danger" value="Delete" (click)="deleteUser(user.user_id)">Delete</button></td>
            </tr>
        </tbody>
</table>
</div>